@using CodeZone.BLL.ViewModels;
@model WarehouseDetailsViewModel


<dl class="row">
   
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class = "col-sm-2">
        Products
    </dt>
    <dd class = "col-sm-10">
        <p> @Model.ProductsCount</p>
    </dd>

</dl>

